{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-9">
        {% if new_basket %}
        <div>
            <div class="lead"><center>You have following goods:</center></div>
            <div class="row bg-primary text-white">
                <div class="col-sm"></div>
                <div class="col-sm">Product name</div>
                <div class="col-sm">Price</div>
                <div class="col-sm">Count</div>
                <div class="col-sm">Summary</div>
            </div>
            {% for item in new_basket %}
            <div class="basket-item">
                <hr>
                <div class="row">
                    <div class="col-sm"><a target="_blank" href="/item/{{item.id}}"><img class="animated jello" src="{% static "/media/" %}{{ item.image }}"  alt="{{ item.name }}"></a></div>
                    <div class="col-sm"><a target="_blank" href="/item/{{item.id}}">{{ item.item }}</a></div>
                    <div class="col-sm">{{ item.price }} RUB</div>
                    <div class="col-sm">
                        <a href="/ajax_del_item/{{item.id}}" class="del_good" data-item="{{item.id}}">-</a>
                        <span class="i_count" data-item="{{item.id}}">{{item.count}}</span>
                        <a href="/ajax_add_item/{{item.id}}" class="add_good" data-item="{{item.id}}">+</a>
                    </div>
                    <div class="col-sm"><span class="i_summary" data-item="{{item.id}}">{{item.summary}}</span>  RUB</div>
                </div>
            </div>
                {% endfor %}<hr>
                <div class="row float-right">
                    <div class="col-sm"><b>Summary price: <span class="basket_summary">{{total_price }}</span> RUB</b></div>
                    <div class="col-sm"><a class="btn btn-success animated fadeInRightBig" href="{% url 'buy' %}">Buy this!</a></div>
                </div>
                {% else %}
                    <div class="alert alert-info" role="alert">Your basket is empty, try to buy something!</div>
                {% endif %}
            <a class="btn btn-info" href="{% url 'index' %}">Continue shopping</a>
            <hr>
        </div>
        {% if new_basket %}
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Clear basket</button>
        {% endif %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Achtung</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want clear basket?
      </div>
      <div class="modal-footer">
        <div><a class="btn btn-warning" href="{% url 'del_all' %}">Yes</a></div>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- change amount in basket with ajax -->
<script>
$(function() {
    var bt = $('.basket_total'),
    sm = $('.basket_summary')

    $('.del_good, .add_good').on('click', function(e) {
        e.preventDefault();
        var that = this
        $.get(
            $(this).attr('href'),
            function(data) {
                if (data.item_count > 0) {
                    $('.i_count[data-item="'+$(that).data('item')+'"]').text(data.item_count)
                    $('.i_summary[data-item="'+$(that).data('item')+'"]').text(data.item_summary)
                } else {
                    $('.i_count[data-item="'+$(that).data('item')+'"]').parents('.basket-item').remove()
                }
                bt.text(data.basket_total)
                sm.text(data.basket_summary)
            },
        )
    })
})
</script>

{% endblock content %}