{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
{% for item in items %}
    {% include 'item-card.html' %}
{% endfor %}
</div>
<hr>
Items per page
<form action="set/" method="POST">
    {% csrf_token %}
    {{select.item_per_page }}
</form>


{% if items.has_other_pages %}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if items.has_previous %}
      <li class="page-item"><a class="page-link" tabindex="-1" href="?page={{ items.previous_page_number }}">Previous</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Previous</span></li>
    {% endif %}
    {% for i in items.paginator.page_range %}
      {% if items.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if items.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}