{% extends 'base.html' %}
{% load static %}
{% block content %}


<div>
    <div class="d-flex justify-content-center"><img class="animated zoomInDown" src="/media/{{ item.image }}" alt="{{ item.name }}">
    </div>
    <div>
        <h3>{{ item.name }}</h3>
        <p><span class="badge badge-default">Description:</span> <span>{{ item.description }}</span></p>
        <p><span class="badge badge-default">Features:</span><span>{{ item.features }}</span></p>
        <p><span class="badge badge-default">Price:</span><span> {{ item.price }} RUB</span></p>
        
        <p class="badge badge-default">Additional images:</p>
            <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight"><img class="animated lightSpeedIn" src="/media/{{ item.image_add1 }}"></img></div>
            <div class="p-2 bd-highlight"><img class="animated lightSpeedIn" src="/media/{{ item.image_add2 }}"></img></div>
            <div class="p-2 bd-highlight"><img class="animated lightSpeedIn" src="/media/{{ item.image_add3 }}"></img></div>
        </div>
        <a class="btn btn-primary btn-lg btn-block" href="/add_to_basket/{{item.id}}">BUY</a>
        <a class="btn btn-info btn-lg btn-block" href="{% url 'index' %}">Return to SHOP</a>
    </div>
</div>
{% endblock %}