{% load static %}
<div class="col-md-{{settings.grid_number}}">
    <div class="card text-center">
        <div class="card-img-top"><a href="item/{{item.id}}">
            <img src="/media/{{ item.image }}" alt="{{ item.name }}"></a>
        </div>
        <div class="card-block">
            <h3 class="card-title"><a href="item/{{item.id}}">{{ item.name }}</a></h3>
            <p class="card-text">Description: {{ item.description }}</p>
            <p class="card-text">Price: {{ item.price }} RUB</p>
            <p class="card-text">In stock: {{ item.stock }} pcs.</p>
            {% if item.stock > 0%}
                <a class="btn btn-primary btn-lg btn-block" href="add_to_basket/{{item.id}}">BUY</a>
            {% else %}
                <p class="badge badge-danger disabled">NOT AVAILABLE FOR ORDER</p>
            {% endif %}
        </div>
    </div><br>
</div>
